
   [Parameters]
sig_deltaphi_mean =  0.10000 C L(-INF - +INF) 
sig_deltaphi_sigmaL =  0.10000 C L(-INF - +INF) 
sig_deltaphi_sigmaR =  0.10000 C L(-INF - +INF) 
sig_deltaphi_alphaL =  0.10000 C L(-INF - +INF) 
sig_deltaphi_alphaR =  0.10000 C L(-INF - +INF) 
wenu_deltaphi_p1 =  1.0000 C L(-INF - +INF) 
wenu_deltaphi_p2 =  1.0000 C L(-INF - +INF) 
ttbar_deltaphi_p1 = -1.01461 +/- 0.46732 L(-100 - 100) 
ttbar_deltaphi_p2 =  0.60097 +/- 0.26397 L(-100 - 100) 
ttbar_deltaphi_p3 = -0.00366736 +/- 0.10010 L(-100 - 100) 
sig_met_mean =  0.10000 C L(-INF - +INF) 
sig_met_sigmaL =  0.10000 C L(-INF - +INF) 
sig_met_sigmaR =  0.10000 C L(-INF - +INF) 
sig_met_alphaL =  0.10000 C L(-INF - +INF) 
sig_met_alphaR =  0.10000 C L(-INF - +INF) 
wenu_met_mean =  35.000 +/- 0.40000 C L(0 - 200) 
wenu_met_sigmaL =  10.000 +/- 0.20000 C L(0 - 1000) 
wenu_met_sigmaR =  10.000 +/- 0.30000 C L(0 - 1000) 
wenu_met_alphaL =  0.10000 +/- 0.0066111 C L(0 - 1000) 
wenu_met_alphaR =  0.20317 +/- 0.0095486 C L(0 - 1000) 
ttbar_met_mean =  14.056 +/- 7.2468 L(0 - 200) 
ttbar_met_sigmaL =  6.5343 +/- 5.0140 L(0 - 1000) 
ttbar_met_sigmaR =  26.944 +/- 7.6634 L(0 - 1000) 
ttbar_met_alphaL =  0.0000 +/- 0.11652 C L(0 - 10) 
ttbar_met_alphaR =  0.23516 +/- 0.10793 L(0 - 1000) 
N_sig =  0.0000 +/- 58.009 C L(-100 - 1e+07) 
N_wenu =  0.0000 +/- 14.526 C L(-100 - 1e+06) 
N_ttbar =  1025.0 +/- 31.790 L(-100 - 5e+06) 

   [Observables]
